@import "./Title/title.less";
@import "./Cake/CakeChoose.less";
@import "./Form/ContactClient.less";
@import "./Mixins/Mixin.less";


body {
	background-color: #ebf6fc;
}

.cakeContainer {
	max-width: 700px;
	margin-top: 70px;
	margin-bottom: 70px;
}