@import "./Title/title.less";
@import "./Cake/CakeChoose.less";
@import "./Form/ContactClient.less";
@import "./Mixins/Mixin.less";


body {
	background-color: #ebf6fc;
}

.cakeContainer {
	max-width: 700px;
	margin-top: 70px;
	margin-bottom: 70px;
}

#cakeSubmintBtn {
	&:hover {
		background-color: #24557b
	}
	background-color: #24457b;
	width: 130px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: 18px;
}