.cakeContainer {
	.cakeContainer {
		&-form {
			&__cakeChoose {
				.col-md-6 {
					padding-left: 0;
				}
			}
		}
	}
	.cakeContainer {
		&-form {
			&__contactClient {
				input, select {
					height: 40px;
					border: 1px solid grey;
					-webkit-border-radius: 3px;
					        border-radius: 3px;
				}
				.msgInfoEmail {
						.textSize(10px);
						color: grey;
				}
				&-title {
					.textSizeTitle(26px);
				}
				.col-md-6, .col-md-12  {
					padding-left: 0;
					input{
						width: 100%;
					}
				}
			}
		}
	}
}